* {
    box-sizing: border-box;
    text-align: center;
  }

  body {
    background: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
  }

  header {
      background: #ebebeb;
      padding: 20px;
      margin-bottom: 10px;
      color: #777;
  }

section {
    color: #777;
    background: #ebebeb;
}

#section {
    float: left;
    text-align: center;
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 0px;
    color: #777;
}

  #nav {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
  }

  #left {
      float: left;
    background: #ebebeb;
    padding: 20px;
      overflow: auto;
      width: 100%;
      margin: 0 auto;
  }

  #article {
      height: 175px;
      width: 495px;
      padding: 20px;
      color: #ebebeb;
      background-color: #777;
  }

  #headingsize {
    background: #ebebeb;
    color: #777;
    padding: 10px;
  }

  #paragraph {
    background: #ebebeb;
    color: #777;
    padding: 10px;
  }

  #aside {  
    float: left;
    height: 175px;
    width: 495px;
    padding: 20px;
    color: #777;
    background: #ebebeb;
  }

  #wrapper {
      float: left;
  }

  footer {
    clear: both;
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
  }